$body-bg: #0d0d0c;
$body-color: white;
$primary: #9033c2;
$secondary: #0d0d0c;
$navbar-brand-: 1.5rem;
$navbar-dark-color: white;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

html,
body {
  height: 100%;
}

.btn-secondary:hover {
  background-color: $primary;
}
